<aside class="logo">

    {% if page.url == '/index.html' or page.url == '/' %}
        {% assign link = '/about' %}
        {% assign prompt = 'About the Author' %}
    {% else %}
        {% assign link = '/' %}
        {% assign prompt = 'Back to Home' %}
    {% endif %}

    <a href="{{ link | prepend: site.baseurl | prepend: site.url }}">
        <img src="../images/profile.png" alt="" class="logo-avatar">
    </a>
    <span class="logo-prompt code">{{ prompt }}</span>
</aside>
<aside style="text-align: center; max-width: 590px; margin: 0 auto 35px; font-size: 0.8rem;">
	<span class="block">
        	{% if site.linkedin_username %}
		<a href="https://linkedin.com/in/{{ site.linkedin_username }}">
                        <i class="fab fa-linkedin fa-lg"></i> linkedin
                </a>&nbsp;
                {% endif %}
                {% if site.github_username %}
	        <a href="https://github.com/{{ site.github_username }}">
	                <i class="fab fa-github fa-lg"></i> github
		</a>&nbsp;
                {% endif %}			
	        {% if site.twitter_username %}
        	<a href="https://twitter.com/{{ site.twitter_username }}">
                        <i class="fab fa-twitter fa-lg"></i> twitter
                </a>&nbsp;
	      	{% endif %}
                {% if site.slideshare_username %}
                <a href="https://slideshare.net/{{ site.slideshare_username }}">
                        <i class="fab fa-slideshare fa-lg"></i> slideshare
                </a>&nbsp;
                {% endif %}
                {% if site.goodreads_username %}
                <a href="https://goodreads.com/{{ site.goodreads_username }}">
                        <i class="fab fa-goodreads fa-lg"></i> goodreads
                </a>
                {% endif %}
	</span>
</aside>
